/* Reset básico para margens e paddings */
* {
    margin: 0;
    padding: 0;
}

:root {
    /* Paleta de cores */
    --main-bg-color: #f0f0f0;
    --main-bg-light: #fff;
    --main-text-color: #333;
    --main-text-light: #ccc;
    --primary-color: #007bff;
    --secondary-color: #003670;
    --light-color: #fff;

    /* Tipografia */
    --font-family: Arial, sans-serif;
    --font-size-base: 1.7rem;
    --font-size-header: 2.4rem;

    /* Layout e espaçamento */
    --spacing-small: 1rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2rem;
    --container-width: 1200px;
    --button-max-width: 300px;
    --image-max-width: 100%;

    /* Estilo e animações */
    --border-radius: 8px;
    --box-shadown: 0 3px 4px rgba(0, 0, 0, 0.2);
    --transition-base: all 0.3s ease;
}

/* Define a escala base de fontes para facilitar o uso de rem */
html {
    font-size: 62.5%;
}

/* Tamanho padrão da fonte no corpo */
body {
    font-size: var(--font-size-base);
    background-color: var(--main-bg-color);
}

h1 {
    font-size: var(--font-size-header);
}

h2 {
    margin-bottom: 20px;
}

hr {
    margin: var(--spacing-large);
}

header {
    margin-bottom: var(--spacing-medium);
    box-shadow: var(--box-shadown);
}

nav ul {
    display: flex;
    height: 60px;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

nav li {
    list-style: none;
    padding: 8px 16px;
    border-radius: var(--border-radius);
    transition: var(--transition-base);
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: var(--light-color);
}

nav li:hover {
    background-color: var(--secondary-color);

}

main {
    max-width: var(--container-width);
    margin: auto;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.hero,
.about,
.service,
.portfolio,
.contact {
    margin: var(--spacing-small);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero {
    display: flex;
    background-color: var(--main-bg-color);
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    color: var(--light-color);
    text-align: center;
    gap: var(--spacing-large);
    padding: 40px 20px;
    border-radius: var(--border-radius);
}

.hero .cta {
    display: block;
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    padding: 15px;
    margin: 20px auto 0 auto;
    max-width: var(--button-max-width);
    border-radius: var(--border-radius);
    width: 100%;
    transition: var(--transition-base);
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.about {
    gap: var(--spacing-medium);
}

.about img {
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: var(--border-radius);
}

.about p {
    margin: auto;
    max-width: 600px;
    padding: 0 30px;
}

.service-area {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.service-item {
    background-color: var(--main-bg-light);
    padding: var(--spacing-large);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadown);
}

.service-icon {
    font-size: 35px;
}

.service-item h3 {
    margin: 10px 0;
}

@media (max-width: 700px) {
    .nav-hide {
        display: none;
    }

    .service-area {
        flex-direction: column;
    }
}